@model List<string>
@{
    ViewBag.Title = "Игра";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Игра</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-4">
            <h3>Загадайте число от 10 до 99</h3>

            <p class="lead p-3">
                <h5>Загадайте любое <strong>двузначное число</strong> и нажмите на кнопку <strong>"Готово".</strong></h5>
            </p>

            <p><a class="btn btn-warning btn-lg btn-block" id="StartRound" onclick="location.href= '@Url.Action("StartRound", "Home")'" href="#" role="button">Готово</a></p>
        </div>

        <div class="col-md-8">
            @Html.Partial("_Table")
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            @Html.Partial("_History")
        </div>
    </div>

</div>
