@using PsychicsGame.Controllers;
@{
    HomeController homeController = new HomeController();
}
@model List<string>
@{
    ViewBag.Title = "Игра";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Игра</li>
        </ol>
    </nav>

    <div class="col-md-4">
        <h3>Загадайте число от 10 до 99</h3>

        <p class="lead p-3">
            <h5>Загадайте любое <strong>двузначное число</strong> и нажмите на кнопку <strong>"Готово".</strong></h5>
        </p>

        <p><a class="btn btn-warning btn-lg btn-block" id="StartGame" onclick="location.href= '@Url.Action("StartGame", "Home")'" href="#" role="button">Готово</a></p>

        <p><a class="btn btn-warning btn-lg btn-block" id="StartGame" onclick="location.href='@Url.Action("GetHistory", "Home")'" href="#" role="button">История загаданных чисел</a></p>
    </div>

    @Html.Partial("_Table")

    <script>
        function disablefirstbutton() {
            this.disabled = true;
            document.getElementById("further").disabled = true;
        }

        function disablesecondbutton() {
            document.getElementById("further").disabled = true;
            document.getElementById("StartGame").disabled = false;
        }
    </script>

</div>