@using PsychicsGame.Controllers;
@{
    HomeController homeController = new HomeController();
}
@model List<string>
@{
    ViewBag.Title = "История загаданных чисел";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .myDropDownUserAnswer {
        height: 200px;
        overflow: auto;
    }
    .myDropDown {
        height: 300px;
        overflow: auto;
    }
</style>

<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="/">Главная</a></li>
            <li class="breadcrumb-item"><a href="/Home/Game">Игра</a></li>
            <li class="breadcrumb-item active" aria-current="page">История загаданных чисел</li>
        </ol>
    </nav>

    <div class="col-md-6">
        <div>
            <p><h3>История загаданных чисел:</h3></p>
            <div class="dropdown">
                <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                    Посмотреть загаданные числа
                </button>
                <ul class="dropdown-menu myDropDownUserAnswer" aria-labelledby="dropdownMenuButton1">
                    @if (ViewBag.ModelUserAnswer != null)
                    {
                        foreach (var value in ViewBag.ModelUserAnswer)
                        {
                            <li><a class="dropdown-item" href="#">@value.Value</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <p>
            <div>
                <p><h3>История догадок экстрасенсов:</h3></p>
                <div class="dropdown">
                    <button class="btn btn-warning dropdown-toggle" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
                        Посмотреть историю догадок
                    </button>
                    <ul class="dropdown-menu myDropDown" aria-labelledby="dropdownMenuButton2">
                        @if (ViewBag.ModelPsychicAnswer != null)
                        {
                            foreach (var value in ViewBag.Model)
                            {
                                <li><a class="dropdown-item" href="#">@value.Name:</a></li>
                                for (int i = 0; i < value.PsychicValues.Count; i++)
                                {
                                    <li><a class="dropdown-item" href="#">@value.PsychicValues[i].Value</a></li>
                                }
                            }
                        }
                    </ul>
                </div>
            </div>
        </p>
    </div>
</div>