@model List<string>
@{
    ViewBag.Title = "Игра";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="#">Главная</a></li>
            <li class="breadcrumb-item active" aria-current="page">Игра</li>
        </ol>
    </nav>

    <div class="row">
        <div class="col-md-4">
            <p class="lead">
                <h5>Введите загаданное число и нажмите на кнопку <strong>"Отправить ответ".</strong></h5>
            </p>
            <form method="post" action="/Home/AnswerСheck">
                <div class="form-group">
                    <input type="number" required="" v-model="value" name="userValue" min="10" max="99" id="Value" class="form-control" placeholder="Введите число" /><br>
                    <span asp-validation-for="userValue" />

                    <p><input type="submit" id="AnswerСheck" class="btn btn-warning btn-lg btn-block" value="Отправить ответ" /></p>
                </div>
            </form>
        </div>

            <div class="col-md-8">
                @Html.Partial("_Table")
            </div>
    </div>

        <div class="row">
            <div class="col-md-4">
                @Html.Partial("_History")
            </div>
        </div>
</div>